<?xml version="1.0" encoding="UTF-8" ?>
<NotepadPlus>
    <History nbMaxFile="10" inSubMenu="no" customLength="-1" />
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">small</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="yes" fontSize="yes" bold="no" italic="no" underline="no" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="yes" />
        <GUIConfig name="ScintillaPrimaryView" scrollBeyondLastLine="no" Wrap="yes" />
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
    </GUIConfigs>
</NotepadPlus>
